
body {
    margin: 0;
    padding: 0;
    background-color: #1c0021;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    color: #90ddff;
}
#titulo {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 400%;
    font-weight: 300;
    letter-spacing: -0.5px;
}
.navegacao {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.navegacao a {
    display: block;
    padding: 20px;
    border: 2px solid #90ddff;
    text-decoration: none;
    color: #90ddff;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 40px;
    border-radius: 20px;
}
.voltar {
    position: fixed;     
    top: 20px;           
    left: 20px;         
}
.voltar a {
    display: block;
    padding: 10px;
    border: 2px solid #90ddff;
    text-decoration: none;
    color: #90ddff;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 15px;
    border-radius: 20px;
}

#contato {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.botao:hover {
    cursor: pointer; 
    transform: scale(1.1);
    transition: transform 0.3s;
}
.desc {
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 20px;
    gap: 40px;
    max-width: 700px;
    font-weight: 300;
    letter-spacing: -0.5px;
}
#descprojeto {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 20px;
    gap: 40px;
    max-width: 500px;
    font-weight: 300;
    letter-spacing: -0.5px;
}
#fotos {
    width: 250px;
    height: auto;
    transition: opacity 1s, transform 1s;
    border-radius: 10px;
    transform: translate(0,0);
}
#imagemprojeto {
    width: 400px;
    height: auto;
    transition: opacity 1s, transform 1s;
    border-radius: 10px;
    transform: translate(0,0);
    aspect-ratio: 1/1; 
}
.projeto {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
    align-items: center;
}
.seta {
    font-size: 60px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    top: 50%;
    padding: 20px;
}
.seta:hover {
    cursor: pointer; 
    transform: scale(1.5);
    transition: transform 0.3s;
}
#anterior {
     left: 5px;
}
#proximo { 
    right: 5px;
}

